.hero {
  margin-top: 3rem;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__title {
  
}

.hero__subtitle {
  margin: initial;
  text-align: center;
  font-size: 4.8rem;
  font-family: 'RobotoCondensed-Bold';
  font-weight: 700;
  line-height: 100%;

  span {
    font-family: 'RobotoCondensed-Italic';
    font-weight: 400;
    color: #D5286F;
  }
}

.hero__image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__image {
  display: flex;
  justify-content: center;
  max-width: 33rem;
  margin-left: auto;
  margin-right: auto;

  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

}


.hero__text {
  display: flex;
  flex-direction: column;

  h1 {
    margin: initial;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'RobotoCondensed-Regular';
    font-weight: 400;

    span {
      color: #999999;
    }
  }
}

.hero__image-text {
  text-align: center;
  margin: initial;
  font-size: 1.8rem;
  text-decoration: underline;

  .blue {
    color: #379AC9;
    font-weight: 700;
  }

  .pink {
    color: #D5286F;
    font-weight: 700;
  }
}

.hero__product-link {
  margin-top: 2rem;
  display: flex;
  background-color: #379AC9;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  min-height: 5rem;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: initial;
  transition: background-color .3s linear;
}

.hero__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: initial;
    color: #808080;
    font-size: 1.8rem;
    text-align: center;

    span {
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 575px) {
  .hero__text {
    h1 {
      font-size: 3.8rem;
    }
  }
}

@media screen and (min-width: 1023px) {
  .hero__content {
    max-width: 45rem;
    gap: 5rem;
  }

  .hero__wrapper {
    margin: 0 auto;
    max-width: 90rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero__text {
    h1 {
      text-align: start;
    }
  }

  .hero__subtitle {
    text-align: start;
    font-size: 6.4rem;
  }

  .hero__product-link {
    max-width: 25rem;
    margin-left: initial;
    margin-top: 4rem;
  }

  .hero__review {
   
    justify-content: flex-start;
    align-items: flex-start;
  
    p {
      text-align: start;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    margin-top: 4rem;
  }

  .hero__text {
    gap: 1rem;

    h1 {
        font-size: 5.4rem;
    }
  }

  .hero__wrapper {
    max-width: initial;
  }

  .hero__content {
    max-width: 60rem;
    gap: 10rem;
  }

  .hero__image {
    max-width: initial;
    max-width: 45rem;
  }

  .hero__image-text {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1480px) {
  .hero {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .hero__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    max-width: initial;
  }

  .hero__subtitle {
    font-size: 10rem;
  }
  
  .hero__image {
    max-width: 60rem;
  }
  
  .hero__text {
    display: flex;
    flex-direction: column;
  }
  
  .hero__text {
    max-width: 75rem;
  
    h1 {
      font-size: 6.4rem;
      font-weight: 500;
      margin: initial;
  
      span {
        color: #999999;
      }
    }
  }

   .hero__image-text {
    font-size: 2.8rem;
  }
  
  .hero__product-link {
    display: flex;
    background-color: #379AC9;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
    color: #fff;
    text-align: center;
    min-height: 6.5rem;
    max-width: 35rem;
    border-radius: 1rem;
    font-size: 2.4rem;
    text-decoration: initial;
    transition: background-color .3s linear;
  }
  
  .hero__review {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  
    p {
      margin: initial;
      color: #808080;
      font-size: 3.2rem;
  
      span {
        font-weight: 600;
        font-size: 3.4rem;
      }
    }
  }
  
}