.video-slider {
  .swiper-slide {
    transform: scale(0.9);
    transition: transform 0.3s linear;
  }

  .swiper-slide-active {
    transform: scale(1);
  }
}

.video-slider__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.video-slider__titles >* {
  margin: initial;
}

.video-slider__subtitle >* { 
  margin: initial;
}

.video-slider__subtitle {
  font-size: 1.8rem;
  color: #808080;
  text-align: center;
  margin: initial;
}


.video-slider__wrapper {
  margin-top: 3rem;
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}

.video-slider__slide {
  position: relative;
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
}

.video-slider__video {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  object-fit: cover;
  max-height: 45rem;
}

.video-slider__slide-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: initial;
  outline: none;
  border: initial;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.video-slider__slide-button.playing {
  opacity: 0.3;
}


@media screen and (min-width: 480px) {
  .video-slider__video {
    max-height: 55rem;
  }

}

@media screen and (min-width: 750px) {
  .video-slider__wrapper {
    width: 100%;
    margin-left: initial;
  }
}

@media screen and (min-width: 1024px) {
  .video-slider__titles {
    grid-gap: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .video-slider__subtitle {
    font-size: 2.4rem;
  }


  .video-slider__wrapper {
    margin-top: 5rem;
  }

  .video-slider__swiper {
    max-width: 85rem;
  }
}

@media screen and (min-width: 1480px) {
  .video-slider__swiper {
    max-width: 95rem;
  }

  .video-slider__titles {
   max-width: 105rem;
  }

  .video-slider__subtitle {
    font-size: 3.2rem;
  }
}

